
Library/ArtifactDB
Library/Bee/fullprofile.json
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/PrefabStageHierarchy/07/073f13aa4a235e7d9d84f47b97cae656.json
Library/StateCache/PrefabStageHierarchy/7b/7b48ddce49c63865cb287b7617ad8314.json
Library/StateCache/PrefabStageHierarchy/ea/ea2b959066704bdad42063fa8be12fcb.json
Library/StateCache/SceneView/0c/0ce879ca45422229f110855711073b55.json
Library/StateCache/SceneView/30/30079910b56e23a28d26042dda32e02e.json
Library/StateCache/SceneView/78/78ced9272a069de0ad700afd42feebf6.json
Temp/FSTimeGet-ab607f43335755e4da4397a274efbd13
Temp/UnityLockfile
Library/ArtifactDB
Library/Bee/fullprofile.json
Library/SceneVisibilityState.asset
Library/SourceAssetDB
